* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    background-color: bisque;
    height: 75px;
    display : flex;
   flex-direction : row;
   justify-content : space-between;
   align-items : center;
   padding: 16px;
   
}

#logo {
    width: 40px;
}

nav ul {
    display : flex;
    flex-direction : row;
    list-style: none;
    gap: 25px;
   
}

nav a {
    text-decoration: none;
}
input {
    padding: 8px;
    border: none;
    width: 100%;
}

#searchholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    width: 30%;

}

#seaechholder img {
    width: 20px;
    height: 20px;
}